* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #ff7e5f, #feb47b);
  color: #fff;
  margin: 0;
}

.App {
  min-height: 100vh;
  padding: 2vh 0; /* Further move box up, remove horizontal padding */
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 2em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  max-width: 600px;
  width: calc(100% - 2em); /* Create 1em space on left/right */
  text-align: center;
  margin: 0 auto; /* Center the container */
}

h1 {
  font-size: 2.2em; /* Further reduced size to fit in one line */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

button {
  background: #fff;
  color: #ff7e5f;
  border: none;
  padding: 15px 30px;
  font-size: 1.5em;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

button:hover {
  background: #ff7e5f;
  color: #fff;
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.lunch-result {
  margin-top: 40px;
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  color: #fff;
}

.ad-banner {
  background-color: #6ca0dc;
  color: #fff;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 1.2em;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}
