* {
  box-sizing: border-box;
}

body {
  font-family: 'Arial', sans-serif;
  background: linear-gradient(to right, #4facfe, #00f2fe);
  color: #fff;
  margin: 0;
}

.App {
  min-height: 100vh;
  padding-top: 2rem;
}

.container {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 2em;
  box-shadow: 0 10px 20px rgba(0,0,0,0.2);
  max-width: 600px;
  width: calc(100% - 2em);
  text-align: center;
  margin: 0 auto;
}

h1 {
  font-size: 2.1em; /* Reduced size by 30% */
  text-shadow: 2px 2px 4px rgba(0,0,0,0.2);
}

button {
  background: #fff;
  color: #4facfe;
  border: none;
  padding: 15px 30px;
  font-size: 1.5em;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

button:hover {
  background: #4facfe;
  color: #fff;
  box-shadow: 0 8px 15px rgba(0,0,0,0.3);
}

.lunch-result {
  margin-top: 40px;
  font-size: 2.5em;
  text-shadow: 1px 1px 2px rgba(0,0,0,0.1);
  color: #fff;
}

.ad-banner {
  background-color: #66CDAA; /* Changed color for distinction */
  color: #00008B;
  padding: 15px;
  margin-top: 30px;
  border-radius: 10px;
  text-align: center;
  font-size: 0.9em; /* Reduced font size to fit on mobile */
  box-shadow: 0 5px 10px rgba(0,0,0,0.2);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
